<h3>Feedback</h3>

<p>
After leaving feedback you cannot change the rating but the feedback message can be changed.
Therefore, in disputes, wait a week or two before leaving feedback because the issue may take time to resolve.
</p>

<%= render 'form' %>
