<p>
  <strong>Option:</strong>
  <%= @feedback.option %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @feedback.feedback %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
